<h2>Check Out Joe's Great Recipes!</h2>

<div class="category-choice">
  <h4>What type of dish would you like to see?</h4>
  <ul>
    <li *ngFor="let type of categories"><a href="#" (click)="selectedType = type; log(type)">{{type}}</a></li>
  </ul>
</div>

<div *ngIf="selectedType">
  <div *ngFor="let recipe of recipes">
    <div *ngIf="recipe.type === selectedType">
      <a href="#" (click)="selectedRecipe = recipe; log(selectedRecipe.ingredients)">{{recipe.name}}</a>
    </div>
  </div>
</div>

<div class="recipe-display" *ngIf="selectedRecipe">
  <div class="label">{{selectedRecipe.name}}</div>
  <div class="label">{{selectedRecipe.type}}</div>
  <div class="recipe-box">
    <div class="ingredient-list">
      <h5>Ingredients</h5>
      <ul>
        <li *ngFor="let ingredient of selectedRecipe.ingredients"
        [class.red]="ingredient.specialty">
        {{ingredient.name}} <span *ngIf="ingredient.amount">({{ingredient.amount}})</span>
        </li>
      </ul>
    </div>
    <div class="instructions">
      <h5>Directions</h5>
      <ol>
        <li *ngFor="let instruction of selectedRecipe.instructions">{{instruction}}</li>
      </ol>
      <span class="citation">Source: {{selectedRecipe.source}}</span>
    </div>
  </div>
</div>
